# eclipse
.project

# Subversion
.svn

# Java class files
*.class

# Gradle files
.gradle/
build/

# Log Files
*.log
logs/

# JetBrains
.settings
.idea
*.iml


# Backups
*~
*.bak
*.backup
*.orig

# Output
out/
target/
test/

# Others
.DS_Store
.Thumbs.db
*.apk
dcommit
rebase
